.eventItem {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  max-width: 600px;
  height: auto;
  background: #ffffff;
  color: #000000;
  padding: 16px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.date,
.address {
  display: flex;
  gap: 10px;
}
